name: Generate Video and Commit

on:
  workflow_dispatch:
    inputs:
      video_type:
        description: 'Video type (lastAdded, topWeekly, topMonthly, endingToday)'
        required: true
        default: 'lastAdded'

  schedule:
    - cron: '0 6 * * *'
    - cron: '0 16 * * 5'
    - cron: '0 19 * * *'
    - cron: '0 20 28-31 * *'

jobs:
  generate_video:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build project with Maven
        run: mvn clean package -DskipTests

      - name: Determine Video Type
        id: video_type
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "VIDEO_TYPE=${{ github.event.inputs.video_type }}" >> $GITHUB_ENV
            echo "SHOULD_RUN=true" >> $GITHUB_ENV
          else
            CURRENT_HOUR=$(date +'%H')
            CURRENT_DAY=$(date +'%u')
            CURRENT_DATE=$(date +'%d')
            LAST_DAY_OF_MONTH=$(date -d "$(date +%Y-%m-01) +1 month -1 day" +%d)

            echo "CURRENT_HOUR=$CURRENT_HOUR"
            echo "CURRENT_DAY=$CURRENT_DAY"
            echo "CURRENT_DATE=$CURRENT_DATE"
            echo "LAST_DAY_OF_MONTH=$LAST_DAY_OF_MONTH"

            if [ "$CURRENT_HOUR" = "06" ]; then
              VIDEO_TYPE="endingToday"
            elif [ "$CURRENT_HOUR" = "16" ] && [ "$CURRENT_DAY" = "5" ]; then
              VIDEO_TYPE="topWeekly"
            elif [ "$CURRENT_HOUR" = "19" ]; then
              VIDEO_TYPE="lastAdded"
            elif [ "$CURRENT_DATE" = "$LAST_DAY_OF_MONTH" ]; then
              VIDEO_TYPE="topMonthly"
            else
              echo "No matching schedule, skipping workflow."
              echo "SHOULD_RUN=false" >> $GITHUB_ENV
              exit 0
            fi

            if [ -n "$VIDEO_TYPE" ]; then
              echo "VIDEO_TYPE=$VIDEO_TYPE" >> $GITHUB_ENV
              echo "SHOULD_RUN=true" >> $GITHUB_ENV
            fi
          fi

      - name: Run VideoCreator
        if: env.SHOULD_RUN == 'true'
        run: |
          mkdir -p output
          echo "Running VideoCreator with VIDEO_TYPE=${{ env.VIDEO_TYPE }}"
          java -jar target/*.jar ${{ env.VIDEO_TYPE }}

      - name: Check if Video Exists
        if: env.SHOULD_RUN == 'true'
        id: check_video
        run: |
          if [ -f "./movie.mp4" ]; then
            echo "VIDEO_EXISTS=true" >> $GITHUB_ENV
          else
            echo "VIDEO_EXISTS=false" >> $GITHUB_ENV
          fi

      - name: Rename and Move Video
        if: env.SHOULD_RUN == 'true' && env.VIDEO_EXISTS == 'true'
        run: |
          TIMESTAMP=$(date +'%Y%m%d_%H%M%S')
          FILENAME="${VIDEO_TYPE}_${TIMESTAMP}.mp4"
          mv ./movie.mp4 ./output/$FILENAME
          echo "FILENAME=$FILENAME" >> $GITHUB_ENV

      - uses: EndBug/add-and-commit@v9
        if: env.SHOULD_RUN == 'true' && env.VIDEO_EXISTS == 'true'
        with:
          add: ./output/${{ env.FILENAME }}
          message: 'Add video: ${{ env.FILENAME }}'

      - name: Send mail
        if: env.SHOULD_RUN == 'true' && env.VIDEO_EXISTS == 'true'
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: ${{secrets.MAIL_HOST}}
          server_port: ${{secrets.MAIL_PORT}}
          secure: ${{secrets.MAIL_SECURE}}
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Create new video
          to: ${{secrets.MAIL_RECIPIENTS}}
          body: https://github.com/pionas/VideoCreator/raw/refs/heads/main/output/${{ env.FILENAME }}
          cc: ${{secrets.MAIL_COPY_RECIPIENTS}}
          ignore_cert: true
          convert_markdown: false
          priority: low
          from: ${{secrets.MAIL_FROM}}

      - name: Send POST request
        if: env.SHOULD_RUN == 'true' && env.VIDEO_EXISTS == 'true'
        run: |
          curl -X POST "${{ secrets.POST_ENDPOINT }}" \
            -H "Content-Type: text/plain" \
            -d "https://github.com/pionas/VideoCreator/raw/refs/heads/main/output/${{ env.FILENAME }}"
